{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container-lg my-5">
    <div class="order-1 col-md-8">                
    <h2 class="mb-5">Favorites <img src="{% static 'icons/favorite-heart.png' %}" alt="Heart image"></h2>           
    
        <div class="scroll-activate">                 
          {% for item in all_order %}
            <div class="row">
              <div class="col-4">
                <img src="{{ item.item.image.url }}" alt="product-img" class="img-fluid">
              </div>
              <div class="col-8">
                <span class="text-uppercase letter-spacing border px-2">{{ item.item.category }}</span>                                          
                {% if item.item.category == 'Coffee Classics' or item.item.category == 'Special Latte' %}                                          
                  <h4 class="mt-2"><a href="{% url 'store:caffeinated-update' item.item.item_slug item.id %}" class="text-decoration-none text-white">{{ item.item.name }} ({{ item.hot_cold }})</a><span class="float-end mx-2">₱ {{ item.get_total_item_price|intcomma }}</span></h4>
                {% elif item.item.category == 'Frappe' or item.item.category == 'Other Drinks' %}
                  <h4 class="mt-2"><a href="{% url 'store:coolers' item.item.item_slug %}" class="text-decoration-none text-white">{{ item.item.name }}</a><span class="float-end mx-2">₱ {{ item.get_total_item_price|intcomma }}</span></h4>
                {% elif item.item.category == 'Starters' or item.item.category == 'Silog Meals' or item.item.category == 'Burger with Fries' or item.item.category == 'Pasta' %}
                  <h4 class="mt-2"><a href="{% url 'store:only-water-update' item.item.category item.item.item_slug item.id %}" class="text-decoration-none text-white">{{ item.item.name }}</a><span class="float-end mx-2">₱ {{ item.get_total_item_price|intcomma }}</span></h4>
                {% elif item.item.category == 'Pizza' %}
                  <h4 class="mt-2"><a href="{% url 'store:pizza-update' item.item.item_slug item.id %}" class="text-decoration-none text-white">{{ item.item.name }}</a><span class="float-end mx-2">₱ {{ item.get_total_item_price|intcomma }}</span></h4>
                {% elif item.item.category == 'All About Wings' or item.item.category == 'Main Course' or item.item.category == 'Sizzlers' %}
                  <h4 class="mt-2"><a href="{% url 'store:main-update' item.item.item_slug item.id %}" class="text-decoration-none text-white">{{ item.item.name }}</a><span class="float-end mx-2">₱ {{ item.get_total_item_price|intcomma }}</span></h4>
                {% endif %}
                <p class="mb-5">{{ item.total_price|intcomma }} / pc</p>
                <div class="d-flex align-items-center">                      
                  <div class="d-flex align-items-center border border-dark py-1 px-2 rounded bg-secondary">                                                
                    <h5 class="m-0">{{ item.quantity }}</h5>
                    <div class="mx-3"></div>
                    <a href="{% url 'store:decrease-quantity' item.item.item_slug item.id %}">                        
                      <img src="{% static 'icons/arrow-down.png' %}" alt="arrow icon" class="bg-light p-0 m-0" style="width: 1.4rem;">
                    </a>
                    <div class="mx-1"></div>
                    <a href="{% url 'store:increase-quantity' item.item.item_slug item.id %}">
                      <img src="{% static 'icons/arrow-up.png' %}" alt="arrow icon" class="bg-light p-0 m-0" style="width: 1.4rem;">
                    </a>
                  </div>
                  <div>
                    <a href="{% url 'store:remove-product' item.item.item_slug item.id %}" class="text-light mx-4 text-decoration-none">Remove</a>
                  </div>
                </div>
              </div>
              <hr class="my-5">
            </div>  
          {% endfor %}             
        </div>  
    </div>
</div>
{% endblock content %}
    