{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-lg">
        <h2 class="letter-spacing text-uppercase fw-bold pt-5" id="starters">{{ items_category }}</h2>
        <div class="my-4" style="height: 3px; width: 70px; background-color: white;"></div> 
        {% if items_category == 'Caffeinated' %}
            <!-- This will show if you click the "see more" link on the home page in the category of caffeinated. line 75. -->
            <h4 class="letter-spacing text-uppercase mb-3">Coffee Classics</h4>
            <div class="d-flex pb-3 flex-wrap">     
                {% for item in coffee_classics %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %}  
                {% endfor %}                                                                                      
            </div>  
            <br>
            <h4 class="letter-spacing text-uppercase mb-3">Special Latte</h4>
            <div class="d-flex pb-3 flex-wrap">                
                {% for item in special_latte %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %} 
                {% endfor %}  
            </div>  
        <!-- This will show if you click the "Coffee Classics" or "Special Latte" on the dropdown navbar. -->
        {% elif items_category == 'Coffee Classics' or items_category == 'Special Latte' %}
        <div class="d-flex pb-3 flex-wrap">  
            {% for item in categorized_items %}
                {% if request.user in item.customer.all %}
                    {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                            
                {% else %}
                    {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_caffeinated_url image_url=item.image.url name=item.name price=item.price %}                                            
                {% endif %}  
            {% endfor %}                                                  
        </div> 
        <!-- This will show if you click the "see more" link on the home page in the category of coolers. line 106. -->
        {% elif items_category == 'Coolers' %}
            <h4 class="letter-spacing text-uppercase mb-3">Frappe</h4>
            <div class="d-flex pb-3 flex-wrap">                            
                {% for item in frappe %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %} 
                {% endfor %}                                                                        
            </div>  
            <br>
            <h4 class="letter-spacing text-uppercase mb-3">Other Drinks</h4>
            <div class="d-flex pb-3 flex-wrap">                
                {% for item in other_drinks %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %}  
                {% endfor %}  
            </div> 
        <!-- This div is for the Other Drinks category. -->
        {% elif items_category == 'Other Drinks' %}   
        <div class="d-flex pb-3 flex-wrap">  
            {% for item in other_drinks %}
                {% if request.user in item.customer.all %}
                    {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                            
                {% else %}
                    {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                                            
                {% endif %}  
            {% endfor %}                                                  
        </div> 
        <!-- This div is for the Frappe category. -->
        {% elif items_category == 'Frappe' %}                                                                 
            <div class="d-flex pb-3 flex-wrap">  
                {% for item in categorized_items %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_coolers_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %}  
                {% endfor %}                                                  
            </div> 
        <!-- Starters, Burger with Fries, Silog Meals and Pasta has having the same only bottled water of add-ons. -->
        {% elif items_category == 'Starters' or items_category == 'Burger with Fries' or items_category == 'Silog Meals' or items_category == 'Pasta' %}                                                                 
            <div class="d-flex pb-3 flex-wrap">  
                {% for item in categorized_items %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_only_water_url image_url=item.image.url name=item.name price=item.price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_only_water_url image_url=item.image.url name=item.name price=item.price %}                                            
                    {% endif %}  
                {% endfor %}                                                  
            </div>    
        <!-- This div is for the All About Wings category. -->
        {% elif items_category == 'Pizza' %}                                                                 
        <div class="d-flex pb-3 flex-wrap">  
            {% for item in categorized_items %}
                {% if request.user in item.customer.all %}
                    {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_pizza_url image_url=item.image.url name=item.name price=item.price %}                            
                {% else %}
                    {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_pizza_url image_url=item.image.url name=item.name price=item.price %}                                            
                {% endif %}  
            {% endfor %}    
        <!-- This div is for the following categories: All About Wings, Main Course and Sizzlers. -->
        {% elif items_category == 'All About Wings' or items_category == 'Main Course' or items_category == 'Sizzlers' %}                                                                 
        <div class="d-flex pb-3 flex-wrap">  
            {% for item in categorized_items %}
                {% if request.user in item.customer.all %}
                    {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.detail_main_url image_url=item.image.url name=item.name price=item.price %}                            
                {% else %}
                    {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.detail_main_url image_url=item.image.url name=item.name price=item.price %}                                            
                {% endif %}  
            {% endfor %}    
        {% else %}
            <h2>Something went wrong...</h2>
        {% endif %}                                              
        </div> 
    </div>
{% endblock content %}
