{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-lg">
        <h2 class="letter-spacing text-uppercase fw-bold pt-5" id="starters">{{ items_category }}</h2>
        <div class="my-4" style="height: 3px; width: 70px; background-color: white;"></div> 
        {% if items_category == 'Caffeinated' %}
            <h4 class="letter-spacing text-uppercase mb-3">Coffee Classics</h4>
            <div class="d-flex pb-3 flex-wrap">     
                {% for item in coffee_classics %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                                            
                    {% endif %}  
                {% endfor %}                                                                                      
            </div>  
            <br>
            <h4 class="letter-spacing text-uppercase mb-3">Special Latte</h4>
            <div class="d-flex pb-3 flex-wrap">                
                {% for item in special_latte %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                                            
                    {% endif %} 
                {% endfor %}  
            </div>  
        {% elif items_category == 'Coolers' %}
            <h4 class="letter-spacing text-uppercase mb-3">Frappe</h4>
            <div class="d-flex pb-3 flex-wrap">                            
                {% for item in frappe %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                                            
                    {% endif %} 
                {% endfor %}                                                                        
            </div>  
            <br>
            <h4 class="letter-spacing text-uppercase mb-3">Other Drinks</h4>
            <div class="d-flex pb-3 flex-wrap">                
                {% for item in other_drinks %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                                            
                    {% endif %}  
                {% endfor %}  
            </div> 
        {% else %}                                                                 
            <div class="d-flex pb-3 flex-wrap">                
                {% for item in categorized_items %}
                    {% if request.user in item.customer.all %}
                        {% include 'store/sections/all-product-div.html' with in_cart=True item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                            
                    {% else %}
                        {% include 'store/sections/all-product-div.html' with in_cart=False item_slug=item.product_detail_url color='light' image_url=item.image.url name=item.name price=item.hot_price %}                                            
                    {% endif %}  
                {% endfor %}                                                  
            </div> 
        {% endif %}
    </div>
{% endblock content %}
